---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="About No No Computer"
	pubDate={new Date('August 28 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		<b>Samuel Montgomery-Blinn</b> - Lead vocals, rhythm guitar
	</p>
	<p>
		<b>Brendan Wiley</b> - Lead guitar, additional lead vocals
	</p>
	<p>
		<b>Scott George</b> - Bass, additional vocals -- Scott is also a member of <i>Part-Time Paradise</i>
	</p>
	<p>
		<b>Christopher Grass</b> - Drums -- Chris is also a member of <i>Allied Threat</i>
	</p>
</Layout>
