---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="About No No Computer"
	pubDate={new Date('August 28 2025')}
	heroImage="/photos/group_photo_yonder_2025.jpg"
>
	<h2>ROSTER</h2>
	<p>
		<b>Samuel Montgomery-Blinn</b> - Lead vocals, rhythm guitar
	</p>
	<p>
		<b>Brendan Wiley</b> - Lead guitar, additional lead vocals
	</p>
	<p>
		<b>Scott George</b> - Bass, additional vocals -- Scott is also a member of <i>Part-Time Paradise</i>
	</p>
	<p>
		<b>Christopher Grass</b> - Drums -- Chris is also a member of <i>Allied Threat</i>
	</p>
	<h2>BACKGROUND</h2>
	<p>Formed in late 2023, <pre>NO NO COMPUTER</pre> had their first appearance in May 2024 at Abbey Road in Cary,
	and theif first full show in May 2024 at Yonder in Hillsborough. We play a mix of 90s alternative rock
	covers including Radiohead, Stone Temple Pilots, Red Hot Chili Peppers, Pearl Jam, and more, along with
	a few favorites from the backlist and a few surprises.</p>
</Layout>
