---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
		<div align="center" width="100%">
		<img src="/images/NO NO COMPUTER - logo header.jpg"/>
		</div>
		<div>
		<p>Durham, NC-based <code>NO NO COMPUTER</code> is a 90s alternative rock cover band playing a mix or
		Radiohead, Stone Temple Pilots, Red Hot Chili Peppers, Pearl Jam, and plenty more, along with some of
		our favorites from the backlist and a few surprises you definitely aren't expecting.</p>
		</div>
		<div>
		<h3>UPCOMING SHOWS</h3>
		<p>Saturday, August 30, 2025 at Oaklyn Springs Taproom in Apex &mdash; 8 to 11 pm</p>
		</div>
		<div>
		<h3>IN THE NEWS</h3>
		<p><a href="https://southpointaccess.news/2024/05/30/gallery-durham-driven-band-no-no-computer-makes-live-debut/">Durham-Driven Band No No Computer Makes Live Debut</a> (Southpoint Access)</p>
		</div>
		<div>
		<h3>PAST SHOWS</h3>
		<p>Friday, July 18, 2025 at Oaklyn Springs Taproom in Apex &mdash; 8 to 11 pm ("SAFE MODE" show with Sam and Brendan)</p>
		<p>Sunday, January 19, 2025 at Yonder Bar in Hillsborough &mdash; 5 to 8 pm (with special guests Ruthless 919)</p>
		<p>Thursday, January 9, 2025 at The Brickhouse in Fuquay-Varina &mdash; 7 pm</p>
		<p>Sunday, May 26, 2024 at Yonder Bar in Hillsborough &mdash; 4 to 6 pm</p>
		<p>Wednesday, May 1, 2024 at Abbey Road in Cary &mdash; 9 pm</p>
		</div>
		</main>
		<Footer />
	</body>
</html>
