---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
		<div align="center" width="100%">
		<img src="/images/NO NO COMPUTER - logo header.jpg"/>
		</div>
		<div>
		<p>Durham, NC-based <code>NO NO COMPUTER</code> is a 90s alternative rock cover band playing a mix of
		Radiohead, Stone Temple Pilots, Red Hot Chili Peppers, Pearl Jam, and plenty more, along with some of
		our favorites from the backlist and a few surprises you definitely aren't expecting.</p>
		</div>
		<div>
		<h3>UPCOMING SHOWS</h3>
		<p><b>BOOK US!</b> Contact Sam at <a href="mailto:sam@nonocomputer.com">sam@nonocomputer.com</a>
		for details.</p>
		</div>
		<div>
		<h3>IN THE NEWS</h3>
		<p><a href="https://www.facebook.com/montsamu/posts/pfbid0iNrkUPnpwRDpyotCZFkgf1kZmdNFTmSqfFSgeJAEWwPK4cN8rEMMYXhh4tfVJQD3l">No No Computer and Ruthless 919 Raise $250 for NC Arts Disaster Relief Fund</a> (Jan 22, 2025)</p>
		<p><a href="https://southpointaccess.news/2024/05/30/gallery-durham-driven-band-no-no-computer-makes-live-debut/">Durham-Driven Band No No Computer Makes Live Debut</a> (Southpoint Access, May 30, 2024)</p>
		</div>
		<div>
		<h3>PAST SHOWS</h3>
		<p><b>Saturday, August 30, 2025</b> at Oaklyn Springs Taproom in Apex &mdash; 8 to 11 pm [<a href="/posters/NO NO COMPUTER - oaklyn apex aug 2025.jpg">Poster</a> | <a href="https://events.scenethink.com/no-no-computer-plays-90s-alternative-rock-covers-at-oaklyn-springs-apex-aug-30-2025">SceneThink</a> | <a href="https://www.facebook.com/events/1472302633906285/">Facebook</a>]</p>
		<p><b>Friday, July 18, 2025</b> at Oaklyn Springs Taproom in Apex &mdash; 8 to 11 pm ("SAFE MODE" show with Sam and Brendan) [<a href="/posters/NO NO COMPUTER DUO - oaklyn apex jul 2025.jpg">Poster</a> | <a href="https://events.scenethink.com/no-no-computer-s-sam-and-brendan-play-oaklyn-springs-apex-jul-18-2025">SceneThink</a> | <a href="https://www.facebook.com/events/1735420537344681/">Facebook</a>]</p>
		<p><b>Sunday, January 19, 2025</b> at Yonder Bar in Hillsborough &mdash; 5 to 8 pm (with special guests Ruthless 919) [<a href="/posters/NO NO COMPUTER and RUTHLESS 919 at YONDER JAN 19 2025.jpg">Poster</a> | <a href="https://events.scenethink.com/free-western-nc-musicians-benefit-show-featuring-no-no-computer-and-ruthless-919-at-yonder-bar-jan-19-2025">SceneThink</a> | <a href="https://www.facebook.com/events/608296864880972/">Facebook</a>]</p>
		<p><b>Thursday, January 9, 2025</b> at The Brickhouse in Fuquay-Varina &mdash; 7 pm [<a href="/posters/NO NO COMPUTER - brickhouse jan 2025.jpg">Poster</a> | <a href="https://www.facebook.com/events/1778116522972450/">Facebook</a>]</p>
		<p><b>Sunday, May 26, 2024</b> at Yonder Bar in Hillsborough &mdash; 4 to 6 pm [<a href="/posters/NO NO COMPUTER - yonder may 2024.jpg">Poster</a> | <a href="https://www.facebook.com/events/1817637148746175/">Facebook</a>]</p>
		<p><b>Wednesday, May 1, 2024</b> at Abbey Road in Cary &mdash; 9 pm</p>
		</div>
		</main>
		<Footer />
	</body>
</html>
